@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

/* Mobile */
@media screen and (max-width:767px){
    body {
        background-color: #EFEFEF;
        font-family: Redressed;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin:0 ;
    }
    
    .logo {
        display:flex;
        justify-content: center; 
        align-items: center; 
    }
    
    .logoOne {
        height: 15%;
        width: 15%;
        margin:0;  
        display:inline-flex;
        align-items: center;
        justify-content: center;
    }

    .logoTwo {
        height:0% ;
        width:0% ;
        margin:0;
        visibility: hidden;
    }

    nav {
        background-color: #1b404e ;
        border-bottom: solid#1b404e;
        border-top: solid  #c49401;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    ul {
        display: flex;
        padding-left: 0;  
    }

    li {
        list-style: none;
        margin-right: 1em;
        font-size: 10px;
    }

    ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    ul li a:hover {
        color: #9d9d9d; 
    }

    h1 {
        font-size: 25px;
        border: solid rgb(44, 44, 44);
        padding-left: 1rem;
        text-align: center;
        background-color:#1b404e ;
        color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
   
    .bigtitle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #1b404e;
        font-size: 29px;
        margin-bottom: 0;
    }
   
    #articleTwo {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #articleThree {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #articleFour {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20%;
    }

    .logoWild {
        width: 15%;
        height: 15%;
    }

    .img1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: solid #1b404e ;
        height: 100%;
        width: 90%;
        border-radius: 5px;
    }

    p {
        text-align: center;
        font-size: 17px;
        font-family: serif;
    }

    .pub2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        max-height: 200px;
        padding-bottom: 7%;
        border-radius: 5px;
    }

    .pub{
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        animation-duration: 4s;
        animation-name: pubc;
        animation-iteration-count: infinite;
        transition: none;
        color: #c49401;
    }
    
    @keyframes pubc {
        0%   { opacity:1; }
        40%   {opacity:0; }
        100% { opacity:1; }
      }

      .ad {
        border-top: 2px #1b404e solid;
        border-bottom: 2px #1b404e solid;
    }

    footer {
        margin-top: 15px;
        padding-bottom: 20px;
        border-top: solid 0.5rem #c49401;
        background-color: #132e38;
        color: rgb(255, 255, 255);
    }

    footer a {
        color:rgb(255, 255, 255);
    }
    
    .cards {
        margin-top: 10px;
        align-items: baseline;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .card {
        border-radius: 10px;
        width: 200px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #1b404e;
    }

    .card-img {
        border-radius: 10px 10px 0 0;
        background-size: cover;
        background-position: center;
        background-image: url("./img/Allan.jpg");
        height: 200px;
        width: 100%;
    }

    .card-body {
        padding: 10px 20px;
    }

    .card-body h2 {
        margin: 10px 0px;
    }

    .card-title{
        color:rgb(255, 255, 255);
        font-size: 2rem;
    }
    .card-text {
        margin: auto;
        overflow-y:auto ;
        max-height:150px ;
    } 
  
    .modal-trigger {
        cursor: pointer;
        display: inline-block;
        border: 1px solid #c49401;
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-top: 16px;
        border-radius: 3px ;
        transition: .4s linear;
    }
    
    .modal-trigger::before{
        z-index: -1;
        transition: .4s linear;
    }
    
    .modal-trigger:hover{
        background-color: #c49401;
    }
      
    .modal[open] > .modal-trigger::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        cursor: default;
        content: '';
        z-index: 99;
        background: rgba(27,31,35,0.5);
    }
      
    .modal-content {
        position: fixed;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        z-index: 999;
        font-size: 1rem;
        animation-name: fadein;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        border: 1px solid #c49401;
        border-radius: 3px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        background-color: #1b404e;
        padding: 1rem;
        color: rgb(255, 255, 255);
    }
      
     @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
    }
      
    .modal-trigger::-webkit-details-marker {
        display:none;
    }  
}

/* Ipad */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        background-color: #EFEFEF;
        font-family: Redressed;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin:0 ;
    }

    .logo{
        display:flex;
        justify-content: center;  
    }

    .logoOne {
        height: 15%;
        width: 15%;
        margin:0;  
    }

    .logoTwo {
        height:0% ;
        width:0% ;
        margin:0;
        visibility: hidden;
    }
    
    nav {
        background-color: #1b404e ;
        border-bottom: solid #1b404e;
        border-top: solid #c49401;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;  
    }
    
    ul {
        display: flex;
        padding-left: 0;      
    }

    li {
        list-style: none;
        margin-right: 1em;
        font-size: 25px;
    }
    
    ul li a {
        color: #ffffff;
        text-decoration: none;
    }
    
    ul li a:hover {
        color: #9d9d9d; 
    }
    
    h1 {
        font-size: 35px;
        border: solid rgb(44, 44, 44);
        padding-left: 1rem;
        text-align: center;
        background-color:#1b404e ;
        color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    
    .bigtitle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #1b404e;
        font-size: 60px;
        margin-bottom: 0;
    }

    #articleOne {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #articleTwo {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    
    #articleThree {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    
    #articleFour {
       display: grid;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20%;
    }
    
    .logoWild{
        width: 15%;
        height: 15%;
    }
    
    .img1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: solid #1b404e ;
        height: 100%;
        width: 70%;
        border-radius: 5px;
    }

    p {
        text-align: center;
        font-size: 29px;
        font-family: serif;
    }

    .pub2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        max-height: 200px;
        padding-bottom: 6%;
        border-radius: 5px;

    }

    .pub{
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        animation-duration: 4s;
        animation-name: pubc;
        animation-iteration-count: infinite;
        transition: none;
        color: #c49401;
    }
    
    @keyframes pubc {
        0%   { opacity:1; }
        40%   {opacity:0; }
        100% { opacity:1; }
      }

    .ad {
        border-top: 2px #1b404e solid;
        border-bottom: 2px #1b404e solid;

    }

    footer {
        margin-top: 5px;
        padding-bottom: 5px;
        border-top: solid 0.5rem #c49401;
        background-color: #132e38;
        color: rgb(255, 255, 255);
        margin-bottom: 100px;
    }

    footer a {
        color:rgb(255, 255, 255);

    }
    .cards {
        margin-top: 10px;
        align-items: baseline;
        grid-row: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
        
    .card {
        border-radius: 10px;
        width: 200px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #1b404e;
    }

    .card-img {
        border-radius: 10px 10px 0 0;
        background-size: cover;
        background-position: center;
        background-image: url("./img/Allan.jpg");
        height: 200px;
        width: 100%;
        display: inline-flex;
    }

    .card-body {
        padding: 10px 20px;
    }

    .card-body h2 {
        margin: 10px 0px;
    }
   
    .card-title{
        color:rgb(255, 255, 255);
        font-size: 2rem;
    }
    
    .card-text {
         margin: auto;
         overflow-y:auto ;
         max-height:150px ;
    }   
    .modal-trigger {
        cursor: pointer;
        display: inline-block;
        border: 1px solid #c49401;
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-top: 16px;
        border-radius: 3px ;
        transition: .4s linear;
      }
    
    .modal-trigger::before{
        z-index: -1;
        transition: .4s linear;
    }
    
    .modal-trigger:hover{
        background-color: #c49401;
    }
    
       
    .modal[open] > .modal-trigger::before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        cursor: default;
        content: '';
        z-index: 99;
        background: rgba(27,31,35,0.5);
    }
      
    .modal-content {
        position: fixed;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        z-index: 999;
        font-size: 30px;
        animation-name: fadein;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        border: 1px solid #c49401;
        border-radius: 3px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
        background-color: #1b404e;
        padding: 1rem;
        color: rgb(255, 255, 255);
    }
      
    @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
    }
      
    .modal-trigger::-webkit-details-marker {
        display:none;
    }
}

/* Desktop */

@media screen and (min-width: 1024px) {
    
    
    body {
        display: flex;
        flex-direction: column;
        background-color: #EFEFEF;
        font-family: Redressed;
        padding: 0;
        margin:0 ;
    }

    .logo{
        display:flex;
        justify-content: flex-start;  
    }

    .logoOne{
        height: 10vh;
        position: absolute;
        position: fixed;
        top: 0;
        left: 0;
    }

    .logoTwo{
        height: 10vh ;
        position: absolute;
        position: fixed;
        top: 0;
        left: 150px;
    }

    header{
        position: sticky;
        top: 0;
    }

    nav {
        background-color: #1b404e ;
        border-bottom: solid #c49401;
        border-top: solid #c49401;
        max-width: 100vw;
        padding-left: 45%;
        min-height: 10vh; 
    }

    ul {
        display: flex;
        padding-top: 1%;
    }

    li {
        list-style: none;
        margin-right: 2em;
        font-size: 15px;
        font-weight: bold;
    }

    ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    ul li a:hover {
        color: #9d9d9d; 
    }
   
    h1 {
        font-size: 25px;
        border: solid rgb(44, 44, 44);
        padding-left: 1rem;
        text-align: center;
        background-color:#1b404e ;
        color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .bigtitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #1b404e;
        font-size: 80px;
        margin-bottom: 0;
    }

    #articleOne {
        display: grid;
        grid-template-columns: auto;
        margin-top:2rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }

    #imgOne {
        grid-column: 2;
        grid-row: 2;
        margin-right: 3rem;
        margin-top: 3rem;
        margin-left: 1rem;
     }

    .text1 {
        grid-column: 1;
        grid-row: 2;
        padding-left: 17%;
     }

    #articleTwo {
        display: grid;
        grid-template-columns: auto;
        margin-top:2rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }  
    
    #imgTwo {
        grid-column: 1;
        grid-row: 2;
        margin-right: 1rem;
        margin-top: 3rem;
        margin-left: 12%;
    }

    .text2 {
        grid-column: 2;
        grid-row: 2;
        padding-right: 17%;
    }

    #articleThree {
        display: grid;
        grid-template-columns: auto;
        margin-top:2rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }
    
    #imgThree {
        grid-column: 2;
        grid-row: 2;
        margin-right: 3rem;
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .text3 {
        grid-column: 1;
        grid-row: 2;
        padding-left: 17%;
    }

    #articleFour {
        display: grid;
        grid-template-rows: auto;
        margin-top:2rem;
        margin-bottom: 2rem;
        gap: 1rem;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
        border-top: solid 0.4rem #c49401;
        background-color: #132e38;
        color: rgb(255, 255, 255);
        order: 1;
    }

    body > .credits {
        display: flex;
        flex-direction: column-reverse;
    }

    .logoWild {
        width: 10%;
        height: 10%;
        margin-top: 1rem;
    }

    .img1 {
        display: block;
        border: solid #1b404e ;
        height: 80%;
        width:80%;
        border-radius: 5px;
    }

    p {
        text-align: center;
        font-family: serif;
        font-size: 18px;
        max-width:500px ;
        margin: auto; 
        margin-right: 1rem;
        margin-left: 1rem; 
        padding-left: 0;
    }

    .pub2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%; 
        width: 50%;
        max-height: 200px;
        border-radius: 5px; 
    }

    footer a {
        color:rgb(255, 255, 255);  
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
      
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #1b404e;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #132e38;
    }

    .cards {
        margin-top: 10px;
        align-items: baseline;
        grid-row: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center; 
    }
        
    .card {
        border-radius: 10px;
        width: 250px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #1b404e;
        
    }
   
    .card-title{
        color:rgb(255, 255, 255);
        font-size: 2rem;
    }

    .card-img {
        border-radius: 10px 10px 0 0;
        background-size: cover;
        background-position: center;
        background-image: url("./img/Allan.jpg");
        height: 300px;
        width: 100%;
    }

    .card-body {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card-body h2 {
        margin: 10px 0px;
    }

   .pub{
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        animation-duration: 4s;
        animation-name: pubc;
        animation-iteration-count: infinite;
        transition: none;
        color: #c49401;
    }
    
    @keyframes pubc {
        0%   { opacity:1; }
        40%   {opacity:0; }
        100% { opacity:1; }
      }
    
    .ad {
        border-top: 2px #1b404e solid;
        border-bottom: 2px #1b404e solid;
    }
    

.modal-trigger {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #c49401;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 16px;
    border-radius: 3px ;
    transition: .4s linear;

  }

  .modal-trigger::before{
      z-index: -1;
      transition: .4s linear;
  }

  .modal-trigger:hover{
      background-color: #c49401;
  }

   
  .modal[open] > .modal-trigger::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    cursor: default;
    content: '';
    z-index: 99;
    background: rgba(27,31,35,0.5);
  }
  
  .modal-content {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    z-index: 999;
    font-size: 1rem;
    animation-name: fadein;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    border: 1px solid #c49401;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    background-color: #1b404e;
    padding: 1rem;
    color: rgb(255, 255, 255);
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  .modal-trigger::-webkit-details-marker {
    display:none;
  }
    
     
}
  